@mixin btn-default {
  width: 100%;
  padding: 0;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  transition: 0.3s;

  &:focus {
    outline: none !important;
  }
}

@mixin btn-filter {
  transition: 0.3s;

  &:hover {
    -webkit-filter: brightness(0.92) saturate(0.92) hue-rotate(-4deg);
    filter: brightness(0.92) saturate(0.92) hue-rotate(-4deg);
  }

  &:active {
    -webkit-filter: brightness(0.84) saturate(0.84) hue-rotate(-10deg);
    filter: brightness(0.84) saturate(0.84) hue-rotate(-10deg);
  }

  &:disabled {
    color: #91979c;
    background: #f3f3f3;
    filter: none;
  }
}
